/node_modules
/public/hot
/public/storage
/storage/upload
/storage/*.key
/storage/app/temp
/storage/app/backup-temp
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
/.idea
/.vscode
*.lock
package-lock.json
.history
